<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/public/css/style.css"/>
</head>
<body>
    <%- include('partials/navigation') %>

        <%- body %>
    <%- include('partials/footer') %>
</body>
</html>