
<% if(user) {%>
 <p>Dobrodosao nazad</p>
<% } %>

<div id="products-container" class="products-container"></div>
<script>

    async function fetchProducts() {

        const res = await fetch("/api/products");
        if(!res.ok) throw new Error("Bad response");
        const products = await res.json();
        const container = document.getElementById("products-container");
        container.innerHTML = "";
        products.products.forEach(product => {
            const card = document.createElement("div");
            card.classList.add("product-card");

            card.innerHTML = `
            <h4 class="product-name">${product.name}</h4>
            <p class="product-price">$${product.price}</p>
            <p class="product-amount">Na stanju: ${product.amount}</p>
            <a href="/product/${product.slug}">Visit product</a>
        `;

            container.appendChild(card);
        });
    }
    fetchProducts();
</script>